// 
// Masthead
// 

@use "bootstrap/scss/bootstrap" as *;
@use '../variables/spacing';

header.masthead {
    height: 100vh;
    /* padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem); */
    background: url("../img/header_highres.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-size: 2.25rem;
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: spacing.$navbar-height;
        padding-bottom: 0;

        p {
            font-size: 1.15rem;
        }

        h1 {
            font-size: 3rem;
        }
    }

    @include media-breakpoint-up(xl) {
        h1 {
            font-size: 3.5rem;
        }
    }
}
