// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

@use "sass:color";
@use "bootstrap/scss/bootstrap" as *;

@use "./variables/spacing";
@use "./variables/colors" as colors;
@use "./variables/typography" as typography;

.icon-secondaryblue {
    color: colors.$secondary-blue !important;
}

html {
    height: 100%;
    scroll-padding-top: calc(spacing.$navbar-height - 1px);
}

.text-sb {
    color: colors.$secondary-blue !important;
    text-decoration-color: colors.$secondary-blue !important;

    a {
        color: colors.$secondary-blue !important;
        text-decoration-color: colors.$secondary-blue !important;
    }
}

body {
    width: 100%;
    height: 100%;
    font-family: typography.$font-family-serif;
}

//- Page section styling
.page-section {
    padding: 8rem 0;
}

// Custom utilities for this theme
.text-white-75 {
    color: color.adjust($white, $alpha: -0.25) !important;
}

.dark-hover {
    &:hover {
        color: color.adjust($primary,$alpha: -0.25) !important;
    }
}

.bg-utblue {
    background-color: colors.$uoftblue;
    color: $white;
}

.bg-secondaryblue {
    background-color: colors.$secondary-blue;
    color: $white;
}

.font-sans {
    font-family: typography.$font-family-sans-serif;
}

.orange-link {
    color: colors.$orange;
    &:hover {
        color: color.adjust(colors.$orange, $alpha: -0.25) !important;
    }
}

h1,h2,h3,h4 {
    font-family: typography.$font-family-sans-serif !important;
}