// 
// Styles
// 

// Import custom variables and override default Bootstrap variables
@use "./variables" as *;

// Import Bootstrap
@use "bootstrap/scss/bootstrap" as *;

// Import custom styles
@use "./global" as *;

// Components
@use "./components/buttons" as *;
@use "./components/dividers" as *;
@use "./components/navbar" as *;

// Sections
@use "./sections/masthead" as *;
@use "./sections/portfolio" as *;
